// Variable Declarations
$primary-color-dark: #455a64;
$primary-color: #607d8b;
$primary-color-light: #cfd8dc;
$primary-color-text: #ffffff;
$accent-color: #ffc107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

@mixin button-main() {
  .btn-outline-primary {
    border-color: $accent-color;
    color: $accent-color;
  }
  .btn-outline-primary:hover {
    background: $accent-color;
    color: $primary-text-color !important;
    border-color: $accent-color;
  }
}

@mixin header() {
  font-weight: 700;
  text-transform: uppercase;
  mark {
    background: $accent-color;
    color: $primary-text-color;
    padding: 1%;
  }
}

// Begin HTML Styling

// Global CSS
html,
body {
  font-family: "Open Sans", sans-serif;
  color: $primary-text-color;
  position: relative;
  overflow-x: hidden;
  background: lighten($primary-color-light, 30%);
  font-size: 16px;
}
@include button-main();

a {
  text-decoration: none !important;
}

hr {
  height: 0.25rem;
  background: $accent-color;
  width: 30%;
  border: 0px;
  margin: 0;
}
// Navbar CSS
.bg-dark {
  background: $primary-color-dark !important;
}
.navbar-brand {
  border: 1px $accent-color solid;
  padding: 5px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  span {
    color: $accent-color;
  }
}
.nav-item {
  margin: 0 10px;
  .nav-link {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 300;
  }
}

// Hero CSS

#hero {
  background-color: $primary-color-dark;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .row {
    min-height: 100vh;
  }
  h1 {
    font-weight: 300;
    color: white;
  }
  span {
    color: $accent-color;
    font-weight: 300;
  }
  p {
    color: white;
    font-weight: 300;
  }
  .btn {
    margin: 0 5px;
  }
}

// About CSS

#about {
  .row {
    min-height: 45vh;
  }
  h1 {
    @include header();
  }
  p {
    padding: 1%;
  }
}
// Features CSS
#features {
  background: $primary-color-dark;
  .row {
    min-height: 35vh;
  }

  h1 {
  }
  p {
    color: $primary-color-light;
  }
}
// Call-to-Action CSS
#cta {
  .row {
    min-height: 25vh;
  }
}
// Footer Css
